body {
    margin: 0;
    padding: 0;
    background-image: url("assets/image/couverture.png");
    background-size: cover;
    background-attachment: fixed;
  }

  
    body {
        font-family: Arial, sans-serif;
    }
    .navbar {
        list-style-type: none;
        padding: 0;
    }
    .navbar li {
        padding: 8px;
        margin-bottom: 5px;
    }
    .navbar a {
        text-decoration: none;
        color: blue;
    }
    .navbar a:hover {
        text-decoration: underline;
    }
